
@media (min-width:1400px){}
@media (min-width:1200px) and (max-width:1399.98px){
    .banner_info .banner_text p {
        padding: 0 65px; 
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .main_nav ul li a {
        font-size: 13px;
        margin: 0 0px;
    }
    .banner_info .banner_text p {
         padding: 0 65px; 
    }
    .logo_img img {
        width: 90%;
    }
}
@media (min-width:768px) and (max-width:991.98px){
     /* header part start */
     #header_part{
        display: block;
        padding-top: 15px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .main_nav{
        display: none;
    }
    .openMenu{
        float: right;
        color:#fff;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    .main_menu{
        position: relative;
    }
    .close_Menu{
        position: absolute;
        right: 40px;
        top: 20px;
        color:#fff;
        font-size: 20px;
    }
    .main_menu{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background: #000;
        text-align: center;
        overflow: hidden;
       z-index: 9999;
    }
    .main_menu ul{
       position: absolute;
       left: 50%;
       top: 20%;
       transform:translateX(-50%) ;
       -webkit-transform:translateX(-50%) ;
       -moz-transform:translateX(-50%) ;
       -ms-transform:translateX(-50%) ;
       -o-transform:translateX(-50%) ;
}
.main_menu ul li{
    margin-bottom: 20px;
}
.main_menu ul li a{
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.main_menu ul li a:hover{
    color:#DA493A;
    letter-spacing: 1px;
}
    /* header part end */

    /* Banner part start */
    .banner_info .banner_text p {
         padding: 0 0px;
    }
    /* Banner part end */

    /* About part start */
    .about_item.text-center {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
    }
    /* About part end */

    /* Latest part start */
    .latest_gallery .gallery_part:nth-child(2){
        margin-bottom: 20px;
    }
    /*   Latest part end */

    /*   Logo part start */
    .logo_img img {
        width: 80%;
    }
    /*   Logo part end */

    /*   footer part start */
    .fooder-2-text ul li {
        font-size: 13px;
        padding-right: 10px;
        padding-left: 8px;
    }
    /*   footer part end */

    
    


}
@media (min-width:576px) and (max-width:767.98px){
     /* header part start */
     #header_part{
        display: block;
        padding-top: 15px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .main_nav{
        display: none;
    }
    .openMenu{
        float: right;
        color:#fff;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    .main_menu{
        position: relative;
    }
    .close_Menu{
        position: absolute;
        right: 40px;
        top: 20px;
        color:#fff;
        font-size: 20px;
    }
    .main_menu{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background: #000;
        text-align: center;
        overflow: hidden;
       z-index: 9999;
    }
    .main_menu ul{
       position: absolute;
       left: 50%;
       top: 20%;
       transform:translateX(-50%) ;
       -webkit-transform:translateX(-50%) ;
       -moz-transform:translateX(-50%) ;
       -ms-transform:translateX(-50%) ;
       -o-transform:translateX(-50%) ;
}
.main_menu ul li{
    margin-bottom: 20px;
}
.main_menu ul li a{
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.main_menu ul li a:hover{
    color:#DA493A;
    letter-spacing: 1px;
}
    /* header part end */

    /* Banner part start */
    .banner_info .banner_text p {
        padding: 0 0px;
    }
    .banner_item {
        padding: 430px 0 315px;
    }
    .banner_info .banner_text p {
        margin-bottom: 40px;
    }
    .ne-arrow, .prv-arrow {
        display: none !important;
    }
    /* Banner part end */

    /* About part start */
    .about_item.text-center {
        margin-bottom: 30px;
    }
    #about_part {
        padding: 90px 0 60px;
    }
    /* About part end */

    /* protfolio part start */
    #protfolio_part {
        padding: 100px 0 81px;
    }
    p {
        margin-bottom: 20px;
    }
    .latest_button button {
        margin: 0 4px;
        padding: 5px 8px;
    }
    /* protfolio part end */

    /* Latest part start */
    .latest_button button {
        margin-bottom: 15px;
    }
    .latest_gallery .gallery_part:nth-child(2){
        margin-bottom: 20px;
    }
    /* Latest part end */

    /* Video part start */
    #video_part {
        padding: 0px 0 150px;
    }
    /* Video part end */

    /* mobile part start */
    .mobile_text {
        margin-top: 65px;
    }
    .mobile_text ul li {
        margin-bottom: 15px;
        font-size: 14px;
    }
    /* mobile part end */

    /* Counter part start */
    .counter_item span {
        font-size: 14px;
    }
    .counter_item h2 {
        font-size: 23px;
    }
    .counter_item {
        padding: 0px 8px;
        margin-bottom: 25px;
    }
    /* Counter part end */

    /* Blog part start */
    .blog_info {
        margin-bottom: 25px;
    }
    .logo_img {
        margin-bottom: 60px;
    }
    /* Blog part end */

    /* Footer part start */
    .fooder-2{
        display: none;
    }
    .footer_mobile{
        display: block;
        background: #111;
        padding: 30px 0;
        margin:auto;
    }
    .footer_mobile ul li{
        color:#555;
        font-size: 14px;
        font-weight: 400;
        font-family:'Montserrat', sans-serif;
        padding-right:15px;
        line-height: 30px;
        text-align: center;
    }
    .fooder_text {
        margin-bottom: 20px;
    }
    /* Footer part end */
}
@media (max-width:575.98px){
    /* header part start */
    #header_part{
        display: block;
        padding-top: 15px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .main_nav{
        display: none;
    }
    .openMenu{
        float: right;
        color:#fff;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    .main_menu{
        position: relative;
    }
    .close_Menu{
        position: absolute;
        right: 20px;
        top: 20px;
        color:#fff;
        font-size: 20px;
    }
    .main_menu{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background: #000;
        text-align: center;
        overflow: hidden;
       z-index: 9999;
    }
    .main_menu ul{
       position: absolute;
       left: 50%;
       top: 20%;
       transform:translateX(-50%) ;
       -webkit-transform:translateX(-50%) ;
       -moz-transform:translateX(-50%) ;
       -ms-transform:translateX(-50%) ;
       -o-transform:translateX(-50%) ;
}
.main_menu ul li{
    margin-bottom: 20px;
}
.main_menu ul li a{
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.main_menu ul li a:hover{
    color:#DA493A;
    letter-spacing: 1px;
}
    /* header part end */

    /* Banner part start */
    .banner_info .banner_text p {
        padding: 0 0px;
    }
    .banner_item {
        padding: 430px 0 315px;
    }
    .banner_info .banner_text p {
        margin-bottom: 40px;
    }
    .ne-arrow, .prv-arrow {
        display: none !important;
    }
    /* Banner part end */

    /* About part start */
    .about_item.text-center {
        margin-bottom: 30px;
    }
    #about_part {
        padding: 90px 0 60px;
    }
    /* About part end */

    /* protfolio part start */
    #protfolio_part {
        padding: 100px 0 81px;
    }
    p {
        margin-bottom: 20px;
    }
    .latest_button button {
        margin: 0 4px;
        padding: 5px 8px;
    }
    /* protfolio part end */

    /* Latest part start */
    .latest_button button {
        margin-bottom: 15px;
    }
    .latest_gallery .gallery_part:nth-child(2){
        margin-bottom: 20px;
    }
    /* Latest part end */

    /* Video part start */
    #video_part {
        padding: 0px 0 150px;
    }
    /* Video part end */

    /* mobile part start */
    .mobile_text {
        margin-top: 65px;
    }
    .mobile_text ul li {
        margin-bottom: 15px;
        font-size: 14px;
    }
    /* mobile part end */

    /* Counter part start */
    .counter_item span {
        font-size: 14px;
    }
    .counter_item h2 {
        font-size: 23px;
    }
    .counter_item {
        padding: 0px 8px;
        margin-bottom: 25px;
    }
    /* Counter part end */

    /* Blog part start */
    .blog_info {
        margin-bottom: 25px;
    }
    .logo_img {
        margin-bottom: 60px;
    }
    /* Blog part end */

    /* Footer part start */
    .fooder-2{
        display: none;
    }
    .footer_mobile{
        display: block;
        background: #111;
        padding: 30px 0;
        margin:auto;
    }
    .footer_mobile ul li{
        color:#555;
        font-size: 14px;
        font-weight: 400;
        font-family:'Montserrat', sans-serif;
        padding-right:15px;
        line-height: 30px;
        text-align: center;
    }
    .fooder_text {
        margin-bottom: 20px;
    }
    /* Footer part end */

    
}
